.columns {
  position: relative;
  padding-top: 200px;

  background-image: url('../img/main-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    top: 210px;
    right: 0;

    width: 174px;
    height: 352px;

    background-image: url('../img/jalousie.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 174px;
  }
}

.columns__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1380px) {
  .columns {
    &::before {
      background: none;
    }
  }
}

@media (max-width: 1179px) {
  .columns__wrapper {
    width: 890px;
    flex-direction: column;
  }
}

@media (max-width: 889px) {
  .columns {
    padding-top: 290px;
  }

  .columns__wrapper {
    width: 550px;
  }
}

@media (max-width: 549px) {
  .columns__wrapper {
    width: auto;
    min-width: 320px;
  }
}
