.features-list {
  display: flex;
  width: 48.3050vw; // 570px;
  margin: 0;
  margin-bottom: 5.0847vw; // 60px;
  padding: 0;

  list-style: none;
}

.features-list__item {
  width: 13.8983vw; // 164px;
  margin-right: 1.0169vw; // 12px;

  &:last-child {
    margin-right: 0;
  }

  &--long {
    width: 18.6440vw; // 220px;
  }
}

.features-list__image-wrapper {
  display: flex;
  align-items: flex-end;
  min-height: 5.9322vw; // 70px;
  margin-bottom: 0.8474vw; // 10px;
}

.features-list__title {
  margin: 0;
  margin-bottom: 0.8474vw; // 10px;

  font-family: 'Berlingske', 'Palatino', serif;
  font-weight: 900;
  font-size: 1.1864vw; // 14px;
  line-height: 1.5254vw; // 18px;
  letter-spacing: 0.025em;
  color: #282828;
}

.features-list__text {
  margin: 0;

  font-size: 1.0169vw; // 12px;
  line-height: 1.3559vw; // 16px;
  color: #989898;
  font-weight: 300;
}

@media (max-width: 1179px) {
  .features-list {
    width: 650px;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .features-list__item {
    width: 164px;
    margin-right: 12px;

    &--long {
      width: 220px;
    }
  }

  .features-list__image-wrapper {
    min-height: 70px;
    margin-bottom: 10px;
  }

  .features-list__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 18px;
  }

  .features-list__text {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 889px) {
  .features-list {
    width: 550px;
  }

  .features-list__item {
    margin-right: 0;
    width: 130px;

    text-align: center;

    &--long {
      width: 190px;
    }
  }

  .features-list__image-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    vertical-align: middle;
  }
}

@media (max-width: 549px) {
  .features-list {
    width: auto;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .features-list__item {
    width: auto;
    margin-bottom: 20px;
  }

  .features-list__text {
    width: 280px;
  }
}
