.gallery__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.6949vw; // 20px;
  margin-bottom: 3.3898vw; // 40px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 0.8474vw; // 10px;

  font-family: 'GothamPro', 'Tahoma', sans-serif;
  font-weight: 500;
  font-size: 1.5254vw; // 18px;
  line-height: 4.0677vw; // 48px;

  span {
    font-family: 'Berlingske', 'Palantino', serif;
    font-weight: 900;
    letter-spacing: 0.025em;
  }
}

.gallery__button-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: -2.3728vw; // -28px;
    left: -3.8135vw; // -45px;

    width: 1.7796vw; // 21px;
    height: 5.1694vw; // 61px;

    background-image: url('../img/arrow-curved.png');
    background-repeat: no-repeat;
    background-size: 1.7796vw; // 21px;
    background-position: center;
    opacity: 0.5;
  }
}

.gallery__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.5084vw; // 183px;
  height: 5.4237vw; // 64px;
  border: none;

  background-color: transparent;
  background-image: url('../img/border.svg');
  background-repeat: no-repeat;
  background-size: 15.4000vw; // 183px;
  background-position: center;

  font-family: 'Berlingske', 'Palantino', serif;
  font-size: 1.5254vw; // 18px;
  line-height: 4.6610vw; // 55px;
  font-weight: 900;
  letter-spacing: 0.050em;
  color: #747474;

  &:first-child {
    margin-right: 1.2711vw; // 15px;
  }

  &--active {
    position: relative;

    box-shadow: 0 0 3.9830vw rgba(0, 0, 0, 0.14); // 47px

    color: #282828;

    background-color: #ffffff;
    background-image: url('../img/border-active.svg');

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -0.5932vw; // -7px;
      transform: translateY(-50%);

      width: 1.1864vw; // 14px;
      height: 1.1864vw; // 14px;
      border-radius: 1.1864vw; // 14px;

      background-color: #f1f1f1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -0.5932vw; // -7px;
      transform: translateY(-50%);

      width: 1.1864vw; // 14px;
      height: 1.1864vw; // 14px;
      border-radius: 1.1864vw; // 14px;

      background-color: #f1f1f1;
    }
  }
}

@media (max-width: 1179px) {
  .galler__title-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .gallery__title {
    margin-bottom:10px;

    font-size: 18px;
    line-height: 48px;
  }

  .gallery__button-wrapper {
    &::before {
      top: -28px;
      left: -45px;

      width: 21px;
      height: 61px;

      background-size: 21px;
    }
  }

  .gallery__button {
    width: 183px;
    height: 64px;
    border: none;

    background-size: 183px;

    font-size: 18px;
    line-height: 55px;

    &:first-child {
      margin-right: 15px;
    }

    &--active {
      box-shadow: 0 0 47px rgba(0, 0, 0, 0.14);

      &::before {
        left: -7px;

        width: 14px;
        height: 14px;
        border-radius: 14px;
      }

      &::after {
        right: -7px;

        width: 14px;
        height: 14px;
        border-radius: 14px;
      }
    }
  }
}

@media (max-width: 549px) {
  .gallery__title {
    width: 280px;

    margin-bottom: 40px;
    text-align: center;
    line-height: 28px;
  }

  .gallery__button-wrapper {
    flex-direction: column;

    &::before {
      width: 0;
      height: 0;

      background: none;
    }
  }

  .gallery__button {
    &:first-child {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
