.page-header__wrapper {
  position: relative;

  display: flex;
  align-items: center;
  width: 1180px;
  margin: 0 auto;
  margin-bottom: -168px;
  padding: 50px 20px;

  z-index: 100;
}

.page-header__logo {
  margin-right: 25px;
}

.page-header__logo-image {
  width: 187px;
  height: 55px;
}

.page-header__title-wrapper {
  width: 340px;
  margin-right: 60px;
}

.page-header__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: 0.050em;
  color: #989898;
}

.page-header__title-list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__title-item {
  display: flex;
  align-items: center;
  height: 26px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #282828;

  background-repeat: no-repeat;

  &--1 {
    margin-right: 15px;
    padding-left: 34px;

    background-image: url('../img/clock.png');
    background-position: center left -5px;
    background-size: 30px;
  }

  &--2 {
    padding-left: 39px;

    background-image: url('../img/medal.png');
    background-size: 34px;
  }
}

.page-header__catalog-link-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 275px;
  min-height: 68px;
  margin-right: 60px;

  background-image: url('../img/catalog.png');
  background-repeat: no-repeat;
  background-size: 68px;
  background-position: left center;

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 15px;

    width: 40px;
    height: 50px;

    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.12);

    z-index: -1;
  }
}

.page-header__catalog-link {
  display: block;
  padding-bottom: 2px;
  border-bottom: 1px dashed #d5132a;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #d5132a;
}

@media (max-width: 1179px) {
  .page-header__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 890px;
    margin-bottom: -228px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__logo {
    margin-right: 0;
  }

  .page-header__title-wrapper {
    order: 5;
  }

  .page-header__catalog-link-wrapper {
    order: 4;
    align-self: flex-end;
    min-height: auto;
    margin-right: 0;

    background: none;

    &::before {
      width: 0;
      height: 0;
      box-shadow: 0 0 0 0;
    }
  }

  .page-header__phone {
    order: 6;
    align-self: flex-end;
  }
}

@media (max-width: 889px) {
  .page-header__wrapper {
    width: 550px;
    margin-bottom: -315px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-header__logo {
    margin-bottom: 20px;
  }

  .page-header__title-wrapper {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-header__catalog-link-wrapper {
    order: 6;
    margin-bottom: 20px;
    align-self: center;
    text-align: center;
  }

  .page-header__catalog-link {
    margin: 0 auto;
  }

  .page-header__phone {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-self: center;
  }
}

@media (max-width: 549px) {
  .page-header__wrapper {
    width: auto;
    min-width: 320px;
  }

  .page-header__title-wrapper {
    width: auto;
  }
}

@media (max-width: 400px) {
  .page-header__wrapper {
    margin-bottom: -330px;
  }
}
