.pagination {
  position: absolute;
  bottom: -1.4406vw; // -17px;
  left: 4.4915vw; // 53px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.8135vw; // 104px;
  height: 9.0677vw; // 107px;

  background-image: url('../img/pagination-bg.png');
  background-repeat: no-repeat;
  background-size: 8.8135vw; // 104px;
  background-position: center;
}

.pagination__icon {
  fill: #ffffff;
}

.pagination__button {
  border: none;
  padding: 0.4237vw; // 5px;

  background-color: transparent;

  &--prev {
    .pagination__icon {
      transform: rotate(180deg);
      opacity: 0.5;
    }
  }
}

.pagination__list {
  font-family: 'Berlingske', 'Palantino', serif;
  line-height: 2.0338vw; // 24px;
  color: #ffffff;

  &-current-item {
    font-size: 1.5254vw; // 18px;
  }

  &-last-item {
    font-size: 1.1864vw; // 14px;
  }
}

@media (max-width: 1179px) {
  .pagination {
    bottom: -17px;
    left: 53px;

    width: 104px;
    height: 107px;

    background-size: 104px;
  }

  .pagination__button {
    padding: 5px;
  }

  .pagination__list {
    line-height: 24px;

    &-current-item {
      font-size: 18px;
    }

    &-last-item {
      font-size: 14px;
    }
  }
}
