.slider {
  position: relative;

  width: 510px;
  margin: 0 auto 40px;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (max-width: 549px) {
  .slider {
    width: auto;
  }

  .slider__image {
    width: 100%;
  }
}
